<section class="new-training" fxLayoutAlign="center center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
      <mat-card fxFlex.xs="100%" fxFlex="400px" fxLayoutAlign="center center" fxLayout="column">
        <mat-card-title>Time to start a workout!</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill" *ngIf="!(isLoading$ | async) && exercises$ | async">
                <mat-select placeholder="Choose your exercise" ngModel name="exercise" required>
                  <mat-option 
                    *ngFor="let exercise of exercises$ | async" 
                    [value]="exercise.id"   
                    >{{exercise.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
        </mat-card-content>
        <mat-card-actions  *ngIf="!(isLoading$ | async)">
          <button 
                *ngIf="exercises$ | async"
                  type="submit" 
                  mat-flat-button 
                  [disabled]="f.invalid" 
                  color="primary"
                 >Start
          </button>
          <button 
                *ngIf="!(exercises$ | async)"
                  type="button" 
                  mat-flat-button
                  color="primary"
                  (click)="fetchExercises()"
                 >Fetch Again
          </button>
        </mat-card-actions>
    </mat-card>
    </form>
    
</section>