<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button 
            (click)="onToggleSidenav()"
            mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a routerLink="/">FITNESS TRACKER</a></div>
    <div fxFlex fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="1rem" class="navigation-items">
            <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
            <li *ngIf="isAuth">
                <span fxLayout fxLayoutAlign="center center">
                    <mat-icon style="margin-right: .3rem;">account_circle</mat-icon>
                    <label>{{activeUser}}</label>
                </span>
            </li>
            <li *ngIf="isAuth" fxFlex>
                <mat-select routerLink="/training">
                    <mat-option>
                        <mat-icon>fitness_center</mat-icon>
                        <button>Training}</button>
                    </mat-option>
                    <mat-option (click)="onLogout()"  style="cursor: pointer;">
                        <mat-icon>eject</mat-icon>
                        <button>
                            Logout
                        </button>
                    </mat-option>
                </mat-select>
            </li>
        </ul>
    </div>
</mat-toolbar>
