<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
       <app-sidenav-list (sidenavToggle)="sidenav.toggle()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content> 
</mat-sidenav-container>
<!-- Angular Material flex-layout https://github.com/angular/flex-layout/ -->
<!-- Angular Material https://material.angular.io/components/list/api -->
<!-- Angular fire https://github.com/angular/angularfire -->
<!-- To connect copy this from firebase project overview side menu :
firebase: {
    apiKey: "AIzaSyDKL_CNV9YfQwz15_3wRikHRXA8t_YEpJg",
    authDomain: "ng-fitness-tracker-46760.firebaseapp.com",
    projectId: "ng-fitness-tracker-46760",
    storageBucket: "ng-fitness-tracker-46760.appspot.com",
    messagingSenderId: "951106687036",
    appId: "1:951106687036:web:8ecc9091557e1a54b2f339",
    measurementId: "G-CGELE65SK9"
  } -->
  <!-- Then import to app.module.ts -->
